<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blogify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto"> <!-- Use ms-auto to right-align the nav items -->
        <li class="nav-item me-3"> <!-- Space between items -->
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <% if (typeof user !== 'undefined' && user) { %>
        <li class="nav-item me-3">
          <a class="nav-link active"  aria-current="page" href="/blog/add-new">Add Blog</a>
        </li>
        <li class="nav-item dropdown me-3 " >
          <a
            class="nav-link active dropdown-toggle"
            aria-current="page"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= user.fullName %> 
            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item me-3">
          <a class="nav-link" href="/user/signup">Create Account</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/user/signin">Signin</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
</div>
<% } %>
