<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogify - Your Daily Dose of Inspiration</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome for social icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <!-- Header Section -->
    <header class="bg-primary text-white text-center py-5">
      <div class="container">
        <h1>Welcome to Blogify</h1>
        <p>Your daily dose of inspiration and knowledge</p>
        <a href="/" class="btn btn-light mt-3">Go to Home</a>
      </div>
    </header>

    <!-- Blog Posts Section -->
    <section class="my-5">
      <div class="container">
        <h2 class="text-center">Latest Blog Posts</h2>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/IMG/gameof.png"
                class="card-img-top"
                alt="java full Stack"
                style="width: 348px"
              />
              <div class="card-body">
                <h5 class="card-title">Java Full Stack</h5>
                <p class="card-text">
                  A brief description of the blog post goes here. It's a great
                  read!
                </p>
                <a href="/user/signup" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/IMG/nodejs.png"
                class="card-img-top"
                alt="nodejs"
                style="width: 348px"
              />
              <div class="card-body">
                <h5 class="card-title">Node.js v23.1.0</h5>
                <p class="card-text">
                  A brief description of the blog post goes here. Don't miss it!
                </p>
                <a href="/user/signup" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/IMG/aven.png"
                class="card-img-top"
                alt="python"
                style="width: 348px"
              />
              <div class="card-body">
                <h5 class="card-title">Python Introduction</h5>
                <p class="card-text">
                  A brief description of the blog post goes here. Check it out!
                </p>
                <a href="/user/signup" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Posts Section end -->

    <!-- About and Footer Section -->
    <section class="my-5 bg-dark text-white pt-4">
      <div class="container text-center">
        <div class="row mb-4">
          <div class="col-md-12">
            <h2>About Blogify</h2>
            <p>
              Blogify is a platform where you can explore a variety of topics,
              ranging from technology and lifestyle to health and travel. Our
              mission is to provide engaging and informative content to inspire
              our readers and help them discover new ideas.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <h5>Contact</h5>
            <p>Email: sirisettyvenkatesh@gmail.com</p>
            <p>Phone: 9390548541</p>
          </div>
          <div class="col-md-4">
            <h5>Follow Us</h5>
            <a
              href="https://www.facebook.com/profile.php?id=61554355917890"
              class="text-white mr-3"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
            <a
              href="https://github.com/VenkyRo"
              class="text-white mr-3"
              target="_blank"
            >
              <i class="fab fa-github"></i>
            </a>
            <a
              href="https://www.instagram.com/inocent_venky/"
              class="text-white mr-3"
              target="_blank"
            >
              <i class="fab fa-instagram"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/sirisetty-venkatesh-256bb8286/"
              class="text-white mr-3"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="text-center mt-3">
          <p>&copy; 2024 SIRIBlogify. All rights reserved.</p>
        </div>
      </div>
    </section>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
